.title {
    color: black;
    padding-bottom: 0;
    text-decoration: none;

    &:hover{
        color: lighten(black, 20%);
        text-decoration: none;
    }

    &:active{
        text-decoration: none;
    }
}

.navbar {
    padding:  0.25rem  1rem 0rem  1rem;
    border-bottom:1px solid rgba(0,0,0,0.1)
}
